In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [4]:
data = pd.read_csv('data/USArrests.csv', index_col=0)
data.head()

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [6]:
X = pd.DataFrame(StandardScaler().fit_transform(data), columns=data.columns)
X.head()

     Murder   Assault  UrbanPop      Rape
0  1.255179  0.790787 -0.526195 -0.003451
1  0.513019  1.118060 -1.224067  2.509424
2  0.072361  1.493817  1.009122  1.053466
3  0.234708  0.233212 -1.084492 -0.186794
4  0.281093  1.275635  1.776781  2.088814

In [18]:
d1 = []
for i in X.index:
    for j in X.index:
        r = np.correlate(X.iloc[i], X.iloc[j])[0]
        d1.append(1-r)
d1 = np.array(d1)

In [19]:
d2 = []
for i in X.index:
    for j in X.index:
        d2.append(np.linalg.norm(X.iloc[i] - X.iloc[j])**2)
d2 = np.array(d2)

In [31]:
proportional = pd.DataFrame([x/y for x, y in zip(d1, d2)]).replace([np.inf, -np.inf], np.nan).dropna()
proportional.describe()

                 0
count  2450.000000
mean     -0.264310
std       3.216922
min    -101.290549
25%      -0.074767
50%       0.182857
75%       0.276872
max       3.152257